<!-- index page -->

<% // title is a paramater used by base to set the page title %>
<% title= 'Dashboard' %>

<% include partials/base %>

<h1>Dashboard</h1>
<p>Welcome to your dashboard! You are now logged in.</p>

<h2>User Information</h2>

<p>First Name: <%= user.firstName %>
<p>Last Name:  <%= user.lastName %>
<p>Email:      <%= user.email %>
<p>Data:
  <% Object.keys(user.data).forEach(function(key) { %>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<%= key %>: <%= user.data[key] %>
  <% }); %>

<p>You've clicked me <%= counter || 0 %> times. <a href="click">Click again</a></p>

<% if (user.role === "admin") { %>
  <p>Go to <a href="adminpanel">admin panel</a></p>
<% } %>

<% include partials/foot %>
