<!-- register page -->

<% // title is a paramater used by base to set the page title %>
<% title= 'Register' %>

<% include partials/base %>

<h1>Create an Account</h1>
<% if (locals.error) {%>
     <p>ERROR: <%= error %></p>
<% } %>

<% console.log('Token: ' + csrfToken) %>

<form method="post">
  <input type="hidden" name="_csrf", value="<%=csrfToken%>"/>

  <span>First Name:</span>
  <input type="text" name="firstName" required=true/></br>

  <span>Last Name:</span>
  <input type="text" name="lastName" required=true/></br>

  <span>Email:</span>
  <input type="email" name="email" required=true/></br>

  <span>Password:</span>
  <input type="password" name="password" required=true/></br>

  <input type="submit"/>
</form>

<% include partials/foot %>
